* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --var-purple-color: #5C63AB;
    --var-beige-color: #F2B680;
    --var-red-color: #DB2721;
    
    --text-brown-color: #592014;
}

a#area-funcionario {

    float: right;

    background-color: var(--var-purple-color);

    padding-bottom: -10px;
}

a#btn-cadastro {
    color: var(--text-brown-color);
    background-color: var(--var-beige-color);
    margin-top: 50px;
    font-weight: 500;
}

a#btn-dashboard {
    background-color: var(--var-red-color);

    border-radius: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 100px;
    margin-right: 100px;
}

main, footer {
    text-align: left;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 16vh;
}

footer {
    display: flex;
    align-items: flex-end;
    margin-top: 100px;
}