* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --var-purple-color: #5C63AB;
    --var-beige-color: #F2B680;
    --var-red-color: #DB2721;
    
    --text-brown-color: #592014;
}

a#area-funcionario {

    background-color: var(--var-purple-color);

    padding-bottom: -10px;
}

a#btn-cadastro {
    color: var(--text-brown-color);
    background-color: var(--var-beige-color);

    font-weight: 500;
}

a#btn-dashboard {
    background-color: var(--var-red-color);

    border-radius: 20px;
}