<?php

?>

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Compra Certa</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/view/bootstrap/css/bootstrap.min.css">
    </head>
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
            <h3 class="masthead-brand">Capa</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contatos</a>
            </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Faça compras no seu mercado favorito com a comidade de casa</h1>
            <p class="lead">Capas são templates de uma única página para construir home pages simples e lindas. Baixe, edite o texto e adicione seu próprio background fullscreen, de maneira que tudo fique com a sua cara.</p>
            <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Saiba mais</a>
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
            
            </div>
        </footer>
        </div>

        <script src="/view/bootstrap/js/bootstrap.min.js"></script>
    </body>
    <body>
        <header>
            <nav>
                <figure>
                    <img src="./imgs/logo.png" alt="">
                </figure>
            </nav>
        </header>
        
        <main>
            <div id="welcome-message">
                <h1>Faça compras no seu mercado favorito com a comidade de casa</h1>
            </div>
            <div id="action-buttons">
                <button id="signup">
                    <a href="./pages/cliente/cadastro.php">Cadastre-se e comece a comprar</a>
                </button>
    
                <button id="signin">
                    <a href="./pages/cliente/login.php">Já possui cadastro? <b>Faça login</b></a>
                </button>
            </div>
        </main>

        <footer>
            <button id="home">
                <a href="./pages/home.php">Acesse aqui nossos produtos</a>
            </button>
        </footer>
    </body>
</html>